.main-container {
  margin: 15% 25% !important;
}

@media (max-width: 1000px) {
  * {
    font-size: 8px;
  }
  .main-container {
    margin: 25% 15% !important;
  }
}

@media (max-width: 400px) {
  * {
    font-size: 8px;
  }

  .main-container {
    margin: 25% 2% !important;
  }
}
